body,ul,h1,p,h2{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* 
======================
       サイトの幅
======================
 */
.site-width{
    width: 980px;
    margin: auto;
}

/* 
======================
      headerのCSS
======================
*/
header{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 95px;
    z-index: 10;
}
h1.logo{
    display: inline-block;
    margin-left: 100px;
    letter-spacing: 4px;
    line-height: 95px;
}
.logo a{
    color: white;
    text-decoration: none;
    font-family: 'Impact';
    font-size: 45px;
}
.header-nav{
    float: right;
}
.header-nav ul li{
    float: left;
    margin-right: 30px;
    line-height: 95px;
}
.header-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.logo{
    color: white;
}
header ul li a:hover{
    color: orange;
    text-decoration: underline;
}

/* 
======================
        フッター
======================
 */
 footer{
     height: 180px;
     background: rgb(24, 24, 24);
     color: white;
 }
 span.scroll{
     color: white;
     font-size: 40px;
     font-weight: bold;
     position: relative;
     top: -30px;
     left: 48.5%;
     background: rgb(24, 24, 24);
     padding: 7px 14px;
     border-radius: 50%;
     cursor: pointer;
 }
 .footer-nav ul{
     height: 30px;
     width: 50%;
     margin: auto;
 }
 .footer-nav ul li{
     float: left;
     width: 20%;
     box-sizing: border-box;
     text-align: center;
     border-right: 1px solid white;
 }
 .footer-nav ul li:last-child{
     border: none;
 }
 .footer-nav ul li a{
     color: white;
     text-decoration: none;
 }
 .footer-nav ul li a:hover{
     color: orange;
 }
 .footer-coment{
     text-align: center;
     padding-top: 40px;
     letter-spacing: 2px;
     font-size: 13px;
     width: 100%;
 }

/* 
 ============================
        トップページのCSS
=============================
 */
 .myPage-section{
     height: 1600px;
     background-image: url('../img/myPage-top.jpg');
     background-size: cover;
     color: white;
 }
 .myPage-container{
     height: 1600px;
     background: #00000094;
     display: none;
 }
 h1.mypage-title{
     padding-top: 150px;
     text-align: center;
     font-size: 45px;
     color: orange;
 }
 .my-prof{
     margin: auto;
 }
 dl{
     display: inline-block;
     width: 70%;
 }
 .my-prof dt{
     float: left;
     margin-right: 15px;
     width:100px;
 }
 .my-prof dd{
     margin-bottom: 10px;
 }
 .text-content h2,p{
     display: inline-block;
 }
 .text-content{
     width: 22%;
     overflow: hidden;
     float: left;
     border: solid white 2px;
     border-radius: 5px;
     margin-right: 20px;
     box-sizing: border-box;
     padding: 20px 30px;
     min-height: 300px;
     max-height: 300px;
     background: rgba(0, 0, 0, 0.356);
     margin-bottom: 10px;
     position: relative;
 }
 .max-height{
    max-height: 50px;
    max-width: 100%;
    overflow: hidden;
}
.max-height2{
    max-height: 70px;
    max-width: 100%;
    overflow: hidden;
}
 .text-content p{
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .text-content h2{
     font-size: 15px;
     margin-bottom: 10px;
     color: orange;
 }
 .text-contents h1{
    border-bottom: white 3px solid;
    margin-bottom: 25px;
 }
.content-wrap{
    overflow: hidden;
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
    padding: 10px 0;
    margin-bottom: 25px;
}
.content-wrap::-webkit-scrollbar{width:10px;}/*バーの太さ*/
.content-wrap::-webkit-scrollbar-track{background:#00000082;}/*バーの背景色*/
.content-wrap::-webkit-scrollbar-thumb{background:#ffffff24;border-radius:10px;}/*バーの色*/
.team-content h2,p{
    display: inline-block;
}
.team-content{
    width: 22%;
    float: left;
    border: solid white 2px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px 30px;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.team-content h2{
    font-size: 15px;
    margin-bottom: 10px;
    color: orange;
}
.team-contents h1{
    border-bottom: white 3px solid;
    margin-bottom: 25px;
 }
.team-content p{
    overflow: hidden;
    text-overflow: ellipsis;
 }
a{
    text-decoration: none;
    color: orange;
}
.prof-img{
    width: 20%;
    height: 200px;
    margin-right: 80px;
}
a.delete-btn{
    position: absolute;
    bottom: 2%;
    left: 30%;
}
a.update-btn{
    position: absolute;
    bottom: 2%;
    right: 30%;
}
.entory-content h2,p{
    display: inline-block;
}
.entory-content{
    width: 22%;
    overflow: hidden;
    float: left;
    border: solid white 2px;
    border-radius: 5px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px 30px;
    min-height: 160px;
    max-height: 160px;
    background: rgba(0, 0, 0, 0.356);
    margin-bottom: 10px;
    position: relative;
}
.entory-content h2{
    font-size: 15px;
    margin-bottom: 10px;
    color: orange;
}
.entory-contents h1{
   border-bottom: white 3px solid;
   margin-bottom: 25px;
}
input[type="submit"]{
    background: none;
    border: none;
    color: orange;
    font-size: 16px;
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
}
 
 /* 
============================
      サクセスメッセージrのCSS
============================
*/
h1.msg-suc{
    font-size: 25px;
    background: rgba(55, 221, 243, 0.5);
    position: fixed;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 7px;
    color: white;
    display: none;
    z-index: 20;
}
